/*Beware all ye who enter.. Messy CSS awaits */

@font-face {
    font-family: 'Brandon';
    src: url(../fonts/BrandonText-Light.otf);
}

@font-face{
    font-family: 'Brandon-heavy';
    src: url(../fonts/BrandonText-Regular.otf);
}


* {
    box-sizing: border-box;
}


html,
body,
.main-wrapper {
    height: 100%;
}

body {
    font-family: 'Brandon', sans-serif;
    font-size: 1.1em;
    margin: auto;
}

header {
    text-align: center;
    box-shadow: 0 8px 6px -6px grey;
    overflow: auto;
}

.taskwhip-logo p {
    display: none;
}

.name-logo {
    display: inline-block;
    max-width: 90%;
    max-height: 90%;
}

.billboard {
    padding: 120px 50px 120px 50px;
    height: 100%;
}

.bold {
    font-weight: bold;
}

#main-wrapper {
    font-weight: lighter;
}

#intro {
    display: none;
}

.main-content {
    margin: 0 2px 35px 2px;

}

.main-content h2 {
    font-family: sans-serif;
    font-weight: lighter;
    letter-spacing: 0.045em;
    font-size: 1.6em;
    text-align: center;
    margin-top: 35px;
}

.why h3, p {
    text-align: center;
}

.why h3 {
    text-decoration: underline;
}

.why p {
    margin: 0% 10% 0 10%;
}

.icon {
    display:none;
}

.container {
    text-align: center;
}

.container img {
    max-width: 90%;
    display: block;
    margin: auto;
}

.container h4 {
    font-family: sans-serif;
    font-weight: lighter;
    letter-spacing: 0.065em;
    color: #016833;
    border: .5px solid #17EF3F;
    border-radius: 5px;
    display: inline-block;
    padding: 8px 5px 5px 5px;
    margin-bottom: -10px;
    transition: 0.1s ease;
}

.container h4:hover {
    border-color: #00E9FF;
    color: #00E9FF;
}

#first-two p,
#second-two p {
    padding: 0 20px 0 20px;
}

.pitch {
    margin-top: -15px;
}
.main-footer {
    text-align: center;
    padding: 15px;
    background-color:#A7A6A8;
}

#customers {
    display: none;
}

#customer-review {
    background: url("../img/review.jpg");
    background-size: cover;
    height: 50%;
    color: #FFF;
    font-size: 15%;
}

#customer-review p span {
    font-family: 'Brandon-heavy';
    font-size: 1em;
}

.main-footer {
    font-family: 'Brandon-heavy';
    font-size: 1.2em;
}

.grow {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Chrome, Safari, Opera */
    transform: scale(1.2);
}

#github {
     transition: .3s ease;
}

#github:hover {
    -ms-transform: scale(1.27);
    -webkit-transform: scale(1.27);
    transform: scale(1.27);
}

/*---------Media queries --------*/
/*------------Mobile to tablet ---------------*/

@media screen and (min-width: 450px) and (min-height: 400px){

    #main-header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #FFF;
    }

    #intro {
        display: block;
        background: url("../img/working.jpg");
        background-size: cover;
        height: 100%;
        width: 100%;
    }
    .product-intro {
        display: inline-block;
        padding: 26% 20% 5% 4%;
        max-height: 50%;
        max-width: 50%;
        color: #FFF;
        font-size: 1.2em;
    }
    /*Tag one and two are the text that display inside the product-intro div*/
    #tag-one{
        display: none;
        font-family: 'Brandon-heavy';
        font-size: 150%;
    }
    #tag-two{
        padding-top: -80px;
        display: none;
        font-weight: bold;
    }

    #customers {
        padding-top: 8px;
        display: block;
        text-align: center;
        background: -webkit-linear-gradient(white, #FBEFFF); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(white, #FBEFFF); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(white, #FBEFFF); /* For Firefox 3.6 to 15 */
        background: linear-gradient(white, #FBEFFF); /* Standard syntax */
    }

    #customers h2 {
        font-family: sans-serif;
        font-weight: lighter;
        letter-spacing: 0.05em;
    }
    #company-banner {
        max-width: 100%;
    }

    #customer-review {
        overflow: hidden;
        font-size: 1.2em;
    }

    #customer-review p span {
        font-size: 1.3em;
    }
}

/*-------somewhere in between ------*/
@media screen and (min-width: 557px) {

    #why-us {
        box-shadow: 0 8px 6px -6px lightgrey;
        margin-bottom: 25px;
        padding-bottom: 20px;
    }

    #why-us > div:nth-of-type(1) {
        margin-left: 6%;
    }

    .icon {
        display: inline;
        padding-left: 30%;
        max-height: 90px;
        max-height: 90px;
        transition: .3s ease;
    }
    .why {
        width: 22%;
        display: inline-block;
        vertical-align: top;
    }

    .why h3{
        font-family: sans-serif;
        font-weight: 400;
        letter-spacing: 0.04em;
        font-size: 1.1em;
        text-decoration: none;
    }

    .container {
        display: table;
        width: 100%;
        overflow: auto;
    }
    #first-two,
    #second-two {
        padding: 0px 15px -5px 15px;
    }

    #first-two img {
        float: left;
        max-width: 100%;
        margin-left: 10px;
    }

    #second-two img {
        float: right;
        max-width: 60%;
        height: 100%;
        margin-right: 10px;
        margin-left: 20px;
    }

    #first-two h4,
    #second-two h4 {
        margin-top: 8%;
    }
    .pitch {
        /*display: table;*/
    }
}



/*------------Desktop + ---------------*/
@media screen and (min-width: 680px) {

    header {
        display: block
    }
    .name-logo {
        display: inline-block;
        float: left;
        max-width: 32%;
        max-height: 32%;
        margin-left: -15px;
    }
    .taskwhip-logo p {
        display: table;
        vertical-align: middle;
        float: right;
        font-size: 1.3em;
        color: #58595B;
        margin-top: 2.8%;
        transition: .6s ease;
    }

    .taskwhip-logo p:hover{
        color: #00E9FF;
    }
}


