/*Beware all ye who enter.. Messy CSS awaits */

@font-face {
    font-family: 'Brandon';
    src: url(../fonts/BrandonText-Light.otf);
}

@font-face{
    font-family: 'Brandon-heavy';
    src: url(../fonts/BrandonText-Regular.otf);
}


* {
    box-sizing: border-box;
}


html,
body,
.main-wrapper {
    height: 100%;
}

body {
    font-family: 'Brandon', sans-serif;
    font-size: 1.1em;
    margin: auto;
}

header {
    text-align: center;
    box-shadow: 0 8px 6px -6px grey;
    overflow: auto;
}

.taskwhip-logo p {
    display: none;
}

.name-logo {
    display: inline-block;
    max-width: 90%;
    max-height: 90%;
}

.billboard {
    padding: 120px 50px 120px 50px;
    height: 100%;
}

#main-wrapper {
    font-weight: lighter;
}

#intro {
    display: none;
}

.main-content h2 {
    font-family: sans-serif;
    font-weight: lighter;
    letter-spacing: 0.045em;
    font-size: 1.6em;
    text-align: center;
    margin-top: 35px;
}

.why h3, p {
    text-align: center;
}

.why h3 {
    text-decoration: underline;
}

.why p {
    margin: 0% 10% 0 10%;
}

.icon {
    display:none;
}

.container {
    text-align: center;
    background-color: #70C56D;
    color: white;
    padding: 20px 0 10px 0;
}

.container img {
    max-width: 60%;
    max-height: 60%;
    display: inline-block;
    margin: auto;
}

.container h4 {
    font-family: sans-serif;
    font-weight: 500;
    color:white;
    letter-spacing: 0.065em;
    border: 1px solid white;
    border-radius: 5px;
    display: inline-block;
    padding: 8px 5px 5px 5px;
    margin-bottom: -10px;
    transition: 0.1s ease;
}

.container h4:hover {
    border-color: #1572B6;
    color: #1572B6;
}


#first-two p,
#second-two p {
    padding: 0 20px 0 20px;
    font-weight: 450;
    letter-spacing: 0.03em;
}

.pitch {
    margin-top: -15px;
}
.main-footer {
    text-align: center;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 1.3em;
    padding: 15px;
    background-color: rgba(167, 166, 168, 0.4);
}

#tech {
    display: none;
}

#mailing-list {
    background: url("../img/review.jpg");
    background-size: cover;
    padding: 5% 0 5% 0;
    height: 50%;
    color: #FFF;
    font-size: 1em;
    text-align: center;
}

#mailing-list p {
    margin-bottom: 30px;
}

#mailing-list a{
    font-family: "Brandon-heavy";
    text-decoration: none;
    border: 1.8px solid white;
    border-radius: 5px;
    padding: 5px;
    color: white;
    vertical-align: bottom;
}

#mailing-list a:hover {
    background-color: #C300FF;
    border-color: #C300FF;
}

.grow {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Chrome, Safari, Opera */
    transform: scale(1.2);
}

#github {
     transition: .3s ease;
}

#github:hover {
    -ms-transform: scale(1.27);
    -webkit-transform: scale(1.27);
    transform: scale(1.27);
}

/*---------Media queries --------*/
/*------------Mobile to tablet ---------------*/

@media screen and (min-width: 450px){

    #main-header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #FFF;
    }

    #intro {
        display: block;
        background: url("../img/working.jpg");
        background-size: cover;
        height: 100%;
        width: 100%;
    }
    .product-intro {
        display: inline-block;
        padding: 26% 20% 5% 4%;
        max-height: 50%;
        max-width: 50%;
        color: #FFF;
        font-size: 1.2em;
    }
    /*Tag one and two are the text that display inside the product-intro div*/
    #tag-one{
        display: none;
        font-family: 'Brandon-heavy';
        font-size: 150%;
    }
    #tag-two{
        padding-top: -80px;
        display: none;
        font-weight: bold;
    }

    .container h4 {
        font-weight: 500;
        letter-spacing: 0.065em;
        color: white;
        border: 1px solid white;
        margin-bottom: -10px;
    }

    #first-two,
    #second-two {
        color: white;
    }

    #tech {
        display: block;
        text-align: center;
    }

    #tech-header h2{
        display: inline-block;
        font-family: sans-serif;
        font-weight: lighter;
        letter-spacing: 0.05em;
        font-size: 1.4em;
    }

    #tech-icons img{
        display: inline-block;
        max-width: 12%;
        max-height: 12%;
        padding: 15px;
        margin-right: 30px;
        transition: .2s ease;
    }

    #tech-icons img:first-child {
        margin-left: 30px;
    }

    #tech-icons img:hover {
        -ms-transform: translate(0px, -15px);
        -webkit-transform: translate(0px, -15px);
        transform: translate(0px, -15px);
    }

    #tech-footer a {
        font-family: "Brandon-heavy";
        text-decoration: none;
        border-radius: 5px;
        color: #079100;
        padding: 3px;
        display: inline-block;
        margin-bottom: 8px;
    }

    #tech-footer a:hover {
        color: #1572B6;
    }

    #company-banner {
        max-width: 100%;
    }

    #mailing-list {
        overflow: hidden;
        font-size: 1.2em;
    }
}

/*-------somewhere in between ------*/
@media screen and (min-width: 557px) {

    #why-us {
        box-shadow: 0 8px 6px -6px lightgrey;
        margin-bottom: -8px;
        padding-bottom: 50px;
    }

    #why-us > div:nth-of-type(1) {
        margin-left: 6%;
    }

    .icon {
        display: inline;
        padding-left: 30%;
        max-height: 90px;
        max-height: 90px;
        transition: .3s ease;
    }
    .why {
        width: 22%;
        display: inline-block;
        vertical-align: top;
    }

    .why h3{
        font-family: sans-serif;
        font-weight: 400;
        letter-spacing: 0.04em;
        font-size: 1.1em;
        text-decoration: none;
    }
}



/*------------Desktop + ---------------*/
@media screen and (min-width: 680px) {

    header {
        display: block
    }
    .name-logo {
        display: inline-block;
        float: left;
        max-width: 32%;
        max-height: 32%;
        margin-left: -15px;
    }
    .taskwhip-logo p {
        display: table;
        vertical-align: middle;
        float: right;
        font-size: 1.3em;
        color: #58595B;
        margin-top: 2.8%;
        transition: .6s ease;
    }

    .taskwhip-logo p:hover{
        color: #00E9FF;
    }
    .container {
        display: table;
        width: 100%;
        overflow: auto;
    }
    #first-two,
    #second-two {
        padding: 0px 15px -5px 15px;
        background-color: #70C56D;
    }

    #first-two h4,
    #second-two h4 {
        margin-top: 8%;
    }

    #first-two img {
        float: left;
        margin-left: 20px;
        width: 50%;
        padding-top: 5%;
        margin-bottom: 0px;
    }

    #second-two img {
        float: right;
        margin-right: 20px;
        width: 40%;
        padding-top: 5%;
        margin-bottom: 10px;
    }
    .pitch {
        display: inline-block;
        max-width: 45%;
        margin-top: 0px;
    }
}


